/* CSS for single component route info */

#routeinfo {
    background: white;
    border: 1px solid #cccccc;
    color: #999;
    float: right;
    font-size: 90%;
    padding: 0em 1em 1em;
    position: relative;
    width: 300px;
    z-index: 100;
}

#routeinfo h4 {
    margin-bottom: .5em;
}

#routeinfo ul {
    margin-top: 0;
    padding-left: 1.2em;
}

#routeinfo>ul>li {
    line-height: 1.6em;
    margin-bottom: 1em;
}


/* CSS for single component table */

#userInput {
    padding: 1em 0;
}

#userInput input,
#userInput select,
button {
    font-size: 16px;
    margin-right: 2em;
    padding: .2em .5em;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.table tr:nth-child(even) {
    background-color: #f0f0f3;
}

td {
    padding: .5em 1em;
}

.dicetable {
    border: 0;
}

.dicetable .result {
    font-size: 30px;
}

.dicetable td {
    padding-left: 0;
    ;
}

.error {
    background-color: #ffffcc;
    border: 1px solid #ccc;
    float: left;
    padding: 1em;
}

#footer {
    border-top: 1px solid #ccc;
    font-size: 75%;
    margin-top: 2em;
    opacity: .6;
    padding-top: 1em;
}